version: '3.1'

services:
  db:
    image: "postgres"
    container_name: "perfexio_postgres"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=billing_system
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./src/main/resources/sql:/docker-entrypoint-initdb.d/
      - ./postgres-data:/var/lib/postgresql/data