.navbars {
    height: 100%;
}

.navbar-logo {
    max-width: 10%;
}

#navbar-attorneys {
    width: 22%;
}

#navbar-clients {
    width: 20%;
}

#navbar-cases {
    width: 15%;
}

#navbar-services {
    width: 18%;
}

#navbar-disbursements {
    width: 30%;
}

