.table-container {
    text-align: left;
    max-width: 100%;
}

.table {
    table-layout: auto;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
}

.header-columns {
    color: white !important;
    font-size: calc(3px + 2vmin) !important;
    cursor: default;
}

.header-columns-span {
    color: white !important;
}

.table-cell {
    color: white !important;
    font-size: calc(3px + 2vmin) !important;
}