@media only screen and (max-width: 600px) {
    #add-service-pricing-span-container {
        width: 150px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
    #add-service-pricing-span-container {
        width: 200px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #add-service-pricing-span-container {
        width: 220px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    #add-service-pricing-span-container {
        width: 240px;
    }
}

@media only screen and (min-width: 1441px) {
    #add-service-pricing-span-container {
        width: 260px;
    }
}