#delete-service-pricing-clear-button {
    margin-left: 1%;
}

@media only screen and (max-width: 600px) {
    #delete-service-pricing-span-container {
        width: 170px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
    #delete-service-pricing-span-container {
        width: 225px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #delete-service-pricing-span-container {
        width: 250px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    #delete-service-pricing-span-container {
        width: 270px;
    }
}

@media only screen and (min-width: 1441px) {
    #delete-service-pricing-span-container {
        width: 295px;
    }
}