.App {
  text-align: center;
  background-color: maroon;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-container {
  height: 10%;
  width: 100%;
}

.table-container {
  width: 100%;
  font-size: calc(7px + 2vmin);
  color: white;
  padding-top: 1%;
}

.App-body {
  background-color: maroon;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: white;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.dropdown-checkbox {
  cursor: pointer;
  padding-right: 0.3%;
}

.dropdown-checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.DatePicker__input::placeholder {
  width: 85%;
}

.DatePicker__input {
  width: 85%;
}

.dropdown-components-container {
  text-align: left;
  max-width: 100%;
}

.dropdown-span-container {
  background-color: black;
  display: inline-block;
  padding-left: 0.5%;
}

.dropdown-container-span {
  cursor: pointer;
}

.dropdown-form-container {
  background-color: grey;
  padding-bottom: 1%;
  padding-left: 1%;
  width: 50%;
}

.dropdown-select {
  width: 90%;
  font-size: calc(3px + 2vmin);
}

.dropdown-input-field {
  width: 90%;
  font-size: calc(3px + 2vmin);
}

.dropdown-field-container {
  padding-bottom: 1%;
  font-size: calc(3px + 2vmin);
}

.dropdown-button {
  cursor: pointer;
}

.dropdown-button-container {
  font-size: calc(3px + 2vmin);
}

.dropdown-checkboxes {
  display: flex;
}

.dropdown {
  margin-bottom: 1%;
}

.dropdown-translation {
  font-size: calc(3px + 2vmin);
}

.MuiTable-root > table {
  font-size: alc(3px + 2vmin);;
}